{% extends 'todo/base.html'%}

{% block title %} All-Tasks {% endblock %}

{% load c_tag %}

{% block content %}

{% get_weather as weather_tag %}

<div class="card mb-3 offset-2 col-8">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https:{{weather_tag.current.condition.icon}}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{weather_tag.location.name}}-{{weather_tag.location.region}}-{{weather_tag.location.country}}</h5>
                {% for detail,value in weather_tag.location.items %}
                <p class="card-text">{{detail}} : {{value}} </p>
                {% endfor %}


                <a href="{% url 'todo:all-tasks' %}" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
    <div class="row px-2">
        <div class="col-8 offset-2">
            <div class="card border-primary mb-3">
                <div class="card-header">Conditions</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">temperature</h5>
                    {% for detail,value in weather_tag.current.items %}
                    {% if detail == "condition" %}
                    {% else %}

                    <p class="card-text">{{detail}} : {{value}} </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}