{% extends 'todo/base.html'%}

{% block title %} All-Tasks {% endblock %}


{% block content %}



{% if messages %}

{% for message in messages %}
{% if message.tags == 'info' %}
<div class="alert alert-danger" role="alert">
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {% endif %}
        {{ message }}
    </div>
    {% endfor %}


    {% endif %}

    <table class="table table-striped table-hover caption-top">
        <caption class="offset-11">
            <a
                    class="btn btn-sm btn-info"
                    href="{% url 'todo:refresh-tasks-list'  %}"
            >Refresh</a>

        </caption>
        <thead class="table-info">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Desc.</th>
            <th scope="col">status</th>
            <th scope="col">Priority</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <th scope="row">{{task.name}}</th>
            <td>{{task.description}}</td>
            <td>{{task.is_done}}</td>
            <td>{{task.priority}}</td>
            <td>
                <a
                        class="btn btn-sm btn-primary"
                        href="{% url 'todo:task-details' forloop.counter %}"
                >Details</a>
                {% if not task.is_done %}
                <a
                        class="btn btn-sm btn-success"
                        href="{% url 'todo:task-done' forloop.counter %}"
                >Mark-Done</a>
                {% else %}
                <a
                        class="btn btn-sm btn-warning"
                        href="{% url 'todo:task-not-done' forloop.counter %}"
                >Mark-NotDone</a>
                <a
                        class="btn btn-sm btn-danger"
                        href="{% url 'todo:delete-task' forloop.counter %}"
                >Delete</a>

                {% endif %}
            </td>

        </tr>
        {% endfor%}
        </tbody>
    </table>
    {% endblock %}