{% extends 'base_layout.html'%}

{% block title %}login{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5 ">
    <div class="row">
        <div class="col-8 offset-2 text-white">
            <form method="post" class="uniForm" action="{% url 'accounts:signup' %}">
                {% csrf_token %}
                {{ form | crispy}}

                <div class="col-7 mt-3 offset-4">
                    <button type="submit" class="btn btn-sm btn-success col-4 ms-3 shadow-lg "
                    >Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}